* {
  padding: 0;
  margin: 0;
}

:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Open Sans", sans-serif;
  --bg-color: #ecebe7;
  --text-color: #262626;
  --link-color: #4b4629;
  --otherlink-color: #965f2c;
}

body {
  font-family: var(--default-font-family);
  background: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 50px;
}

.img-responsive {
  max-width: 100%;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

a {
  color: var(--link-color);
}

a:hover {
  color: #965f2c;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../imgs/edinheader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  font-family: var(--heading-font-family);
}

header h1 {
  font-size: 80px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--bg-color);
  font-family: var(--default-font-family);
}

main {
  background-color: white;
  padding: 20px;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;
  margin: 0;
  font-family: var(--heading-font-family);
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.midintro {
  background: var(--bg-color);
  width: 80%;
  padding: 30px;
  margin: 20px auto;
}

.card {
  background: var(--bg-color);
  margin: 30px 0;
}

.card-body {
  padding: 20px;
}

.card-body h4 {
  text-transform: uppercase;
}

.card-footer {
  padding: 0 20px 20px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 14px;
  background-color: var(--otherlink-color);
  text-decoration: none;
  opacity: 0.8;
}

.btn:hover {
  color: var(--link-color);
  background-color: #c48b56;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

section.secondary {
  padding: 100px;
}

section.third {
  padding: 10px;
  width: 70%;
}

.music {
  background: var(--bg-color);
  margin: 30px 0;
}

.music-body {
  padding: 0px;
}

footer {
  background: #e4e3de;
  padding: 20px;
}

footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

footer ul {
  padding: 0;
  font-size: 14px;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 20px;
  }
}
